@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-color: #080808;
    background-image: 
      linear-gradient(to right, #080808 0%, transparent 30%, transparent 70%, #080808 100%),
      url('/background.png');
    background-size: 70% auto, 70% auto;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
  }
}
