@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-color: #080808;
    background-image: url('/logo_app.png');
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
