@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-color: #000000;
  }
  
  /* Améliorer l'accessibilité tactile sur mobile */
  button, a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
    touch-action: manipulation;
  }
}
